  body, html, p, h1{
    height:100%;
    padding: 0;
    margin:0;
    border: 0;
    font-family:'Roboto', sans-serif;
    scroll-behavior: smooth;
  }
  .nav a{
    text-decoration: none;
    color:white;
    margin: 10px;
    font-size: 25px;
  }
  .nav{
    width:100%;
    height:15%;
    background: black;
    display: flex;
  }
  #logo{
    position: absolute;
    left:10%;
    top:4%;
    width:40px;
    height:80px;
  }
  #rlogos{
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
  .loc{
    position: relative;
    display: flex;
    left:80%;
    top:10%;
  }
  .pos{
    position: absolute;
    left:80%;
    top:10%;
    display: flex;
  }
  #ha:hover{
    color:yellow;
  }
  #hb:hover{
    color:yellow;
  }
  #hc:hover{
    color:yellow;
  }
  .container{
    position: relative;
    width:100%;
    height:100%;  
  }
  #back{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  .container h1{
    position: absolute;
    left:50%;
      transform: translate(-50%);
    top:42%;
    font-size:70px;
    color: white;
  }
  .container h2{
    position: absolute;
    left:50%;
      transform: translate(-50%);
      text-align: center;
    top:50%;
    margin-right:20px;
    font-size:25px;
    color: white;
  }
  .about{
    display:flex;
  }
  .about h1{
    position: absolute;
    left:30%;
    margin:3cm
  }
  .about p{
    margin-top:6cm;
    margin-right:4cm;
    font-size:25px;
  }
  .contact{
    position:relative;
    width:100%;
    height:70%;
    background-color: #f2f2f2;
  }
  .contact h1{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    top:15%;
  }
  .formulario{
    position:relative;
    top:25%;
    border-radius: 5px;
    padding: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  input[type=text], select, textarea {
    outline: none;
    display: flex;
    width: 500px;
    padding: 20px;
    border-bottom: 2px solid black;
    background-color: #f2f2f2;
    border-top:none;
    border-left:none;
    border-right: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
  }
  input[type=submit] {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    color: black;
    padding: 15px 40px;
    border: 2px solid black;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    border:none;
  }

  #foto{
    margin:4cm;
    max-width:360px;
    height:370px;
  }
  #footer{
    position: relative;
    width:100%;
    height: 110px;
    background: #333333;
    padding-top: 1cm;
  }
  #footer p{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1680px){
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:42%;
      font-size:70px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      top:50%;
      font-size:25px;
      color: white;
    }
    #logo{
      position: absolute;
      left:10%;
      top:4%;
      width:40px;
      height:80px;
    }
    #rlogos{
      margin-right: 20px;
      width: 50px;
      height: 50px;
    }
    .loc{
      position: relative;
      display: flex;
      left:75%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:75%;
      top:10%;
      display: flex;
    }
    .about{
      display:flex;
      margin-bottom: 50px;;
    }
    .about h1{
      position: absolute;
      left:30%;
      margin:3cm
    }
    .about p{
      margin-top:6cm;
      margin-right:4cm;
      font-size:22px;
    }
  }
  @media (max-width: 1440px){
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:42%;
      font-size:65px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      top:50%;
      margin-right:20px;
      font-size:25px;
      color: white;
    }
    .about{
      display:flex;
    }
    .about h1{
      position: absolute;
      left:35%;
      margin:3cm
    }
    .about p{
      margin-top:5cm;
      margin-right:2cm;
      font-size:20px;
    }
    #logo{
      position: absolute;
      left:10%;
      top:4%;
      width:40px;
      height:80px;
    }
    #rlogos{
      margin-right: 20px;
      width: 50px;
      height: 50px;
    }
    .loc{
      position: relative;
      display: flex;
      left:70%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:70%;
      top:10%;
      display: flex;
    }
    .contact{
      position:relative;
      width:100%;
      height:70%;
      background-color: #f2f2f2;
    }
  }
  @media (max-width: 1350px){
    .about p{
      margin-top:5cm;
      margin-right:2cm;
      font-size:18px;
    }
  }
  @media (max-width: 1250px){
    .about p{
      margin-top:5cm;
      margin-right:2cm;
      font-size:16px;
    }
  }
  @media (max-width: 1150px){
    #back{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .about p{
      margin-top:5cm;
      margin-right:2cm;
      font-size:14px;
    }
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:42%;
      font-size:55px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:50%;
      margin-right:20px;
      font-size:25px;
      color: white;
    }
    #back{
    width: 100%;
    max-height:100%;
    min-height: auto;
    background-size: 100%;
    }
    .loc{
      position: relative;
      display: flex;
      left:65%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:65%;
      top:10%;
      display: flex;
    }
  }
  @media (max-width: 1100px){
    .about p{
      margin-top:5cm;
      margin-right:2cm;
      font-size:14px;
    }
  }
  @media (max-width: 1050px){
    .nav a{
      text-decoration: none;
      color:white;
      margin: 10px;
      font-size: 15px;
    }
    .nav{
      width:100%;
      height:20%;
      background: black;
      display: flex;
    }
    #logo{
      position: absolute;
      left:10%;
      top:3%;
      width:20px;
      height:60px;
    }
    #back{
      position: relative;
      overflow: hidden;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:42%;
      font-size:45px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      top:47%;
      font-size:25px;
      color: white;
    }
    .about{
      display:grid;
    }
    .about h1{
      position: absolute;
      grid-column: auto;
      left:50%;
      transform: translate(-50%);
      margin:1cm;
      margin-top:3cm;
      font-size: 25px;
    }
    .about p{
      margin-right:25%;
      margin-left:25%;
      grid-column: auto;
      margin-top: 50px;
      font-size:20px;
    }
    #rlogos{
      margin-right: 2px;
      width: 25px;
      height: 25px;
    }
    .loc{
      position: relative;
      display: flex;
      left:78%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:76%;
      top:10%;
      display: flex;
    }
    #foto{
      position:relative;
      top:100px;
      left:50%;
      transform: translate(-85%);
      width:350px;
      height:350px;
      padding-right: 50px;
    }
    .contact{
      position:relative;
      width:100%;
      height:70%;
      background-color: #f2f2f2;
      padding-bottom:50px;
    }
  }
  @media (max-width: 800px){
    .nav a{
      text-decoration: none;
      color:white;
      margin: 10px;
      font-size: 15px;
    }
    .nav{
      width:100%;
      height:20%;
      background: black;
      display: flex;
    }
    #logo{
      position: absolute;
      left:10%;
      top:3%;
      width:20px;
      height:60px;
    }
    #back{
      position: relative;
      overflow: hidden;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      top:42%;
      font-size:35px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      text-align: center;
      top:48%;
      font-size:20px;
      color: white;
    }
    .about{
      display:grid;
    }
    .about h1{
      position: absolute;
      grid-column: auto;
      left:50%;
      transform: translate(-50%);
      margin:1cm;
      margin-top:3cm;
      font-size: 25px;
    }
    .about p{
      margin-right:25%;
      margin-left:25%;
      grid-column: auto;
      margin-top: 50px;
      font-size:18px;
    }
    #rlogos{
      margin-right: 2px;
      width: 25px;
      height: 25px;
    }
    .loc{
      position: relative;
      display: flex;
      left:70%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:70%;
      top:10%;
      display: flex;
    }
    #foto{
      position:relative;
      top:100px;
      left:50%;
      transform: translate(-80%);
      width:400px;
      height:380px;
      padding-right: 50px;
    }
    .contact{
      position:relative;
      width:100%;
      height:70%;
      background-color: #f2f2f2;
      padding-bottom:50px;
    }
  }
  @media (max-width: 600px){
    .nav a{
      text-decoration: none;
      color:white;
      margin: 10px;
      font-size: 15px;
    }
    .nav{
      width:100%;
      height:20%;
      background: black;
      display: flex;
    }
    #logo{
      position: absolute;
      left:10%;
      top:3%;
      width:20px;
      height:60px;
    }
    #back{
      position: relative;
      overflow: hidden;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:42%;
      font-size:28px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      top:48%;
      font-size:18px;
      color: white;
    }
    .about{
      display:grid;
    }
    .about h1{
      position: absolute;
      grid-column: auto;
      left:50%;
      transform: translate(-50%);
      margin:1cm;
      margin-top:3cm;
      font-size: 25px;
    }
    .about p{
      margin-right:25%;
      margin-left:25%;
      grid-column: auto;
      margin-top: 50px;
      font-size:20px;
    }
    #rlogos{
      margin-right: 2px;
      width: 25px;
      height: 25px;
    }
    .loc{
      position: relative;
      display: flex;
      left:62%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:58%;
      top:10%;
      display: flex;
    }
    #foto{
      position:relative;
      top:100px;
      left:50%;
      transform: translate(-85%);
      width:350px;
      height:350px;
      padding-right: 50px;
    }
    .contact{
      position:relative;
      width:100%;
      height:70%;
      background-color: #f2f2f2;
      padding-bottom:150px;
    }
  }
  @media (max-width: 525px){
    .nav a{
      text-decoration: none;
      color:white;
      margin: 10px;
      font-size: 13px;
    }
    .nav{
      width:100%;
      height:20%;
      background: black;
      display: flex;
    }
    #logo{
      position: absolute;
      left:10%;
      top:5%;
      width:20px;
      height:40px;
    }
    #back{
      position: relative;
      overflow: hidden;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:42%;
      font-size:30px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      top:47%;
      font-size:15px;
      color: white;
    }
    .about{
      display:grid;
    }
    .about h1{
      position: absolute;
      grid-column: auto;
      left:50%;
      transform: translate(-80%);
      margin:1cm;
      margin-top:3cm;
      font-size: 25px;
    }
    .about p{
      margin-right:40%;
      margin-left:10%;
      grid-column: auto;
      margin-top: 50px;
      font-size:20px;
    }
    #rlogos{
      margin-right: 2px;
      width: 25px;
      height: 25px;
    }
    .loc{
      position: relative;
      display: flex;
      left:55%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:55%;
      top:10%;
      display: flex;
    }
    #foto{
      position:relative;
      top:100px;
      left:32%;
      width:300px;
      height:300px;
      padding-right: 50px;
    }
    .contact{
      position:relative;
      width:100%;
      height:70%;
      background-color: #f2f2f2;
      padding-bottom:150px;
    }
    .formulario{
      position:relative;
      top:25%;
      border-radius: 5px;
      padding: 30px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  
    input[type=text], select, textarea {
      outline: none;
      display: flex;
      width: 300px;
      padding: 20px;
      border-bottom: 2px solid black;
      background-color: #f2f2f2;
      border-top:none;
      border-left:none;
      border-right: none;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
    }
    input[type=submit] {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      background-color: transparent;
      color: black;
      padding: 15px 40px;
      border: 2px solid black;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      border:none;
    }
  }
  @media (max-width: 400px){
    .nav a{
      text-decoration: none;
      color:white;
      margin: 10px;
      font-size: 13px;
    }
    .nav{
      width:100%;
      height:20%;
      background: black;
      display: flex;
    }
    #logo{
      position: absolute;
      left:10%;
      top:5%;
      width:20px;
      height:40px;
    }
    #back{
      position: relative;
      overflow: hidden;
      width: 100%;
      height:100%;
    }
    .container h1{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      top:42%;
      font-size:25px;
      color: white;
    }
    .container h2{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      text-align: center;
      top:47%;
      font-size:20px;
      color: white;
    }
    .about{
      display:grid;
    }
    .about h1{
      position: absolute;
      grid-column: auto;
      left:50%;
      transform: translate(-80%);
      margin:1cm;
      margin-top:3cm;
      font-size: 22px;
    }
    .about p{
      margin-right:45%;
      margin-left:5%;
      grid-column: auto;
      margin-top: 50px;
      font-size:18px;
    }
    #rlogos{
      margin-right: 2px;
      width: 25px;
      height: 25px;
    }
    .loc{
      position: relative;
      display: flex;
      left:50%;
      top:10%;
    }
    .pos{
      position: absolute;
      left:50%;
      top:10%;
      display: flex;
    }
    #foto{
      position:relative;
      top:100px;
      left:27%;
      width:300px;
      height:300px;
      padding-right: 50px;
    }
    .contact{
      position:relative;
      width:100%;
      height:70%;
      background-color: #f2f2f2;
      padding-bottom:150px;
    }
    .formulario{
      position:relative;
      top:25%;
      border-radius: 5px;
      padding: 30px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    input[type=text], select, textarea {
      outline: none;
      display: flex;
      width: 300px;
      padding: 20px;
      border-bottom: 2px solid black;
      background-color: #f2f2f2;
      border-top:none;
      border-left:none;
      border-right: none;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
    }
    input[type=submit] {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      background-color: transparent;
      color: black;
      padding: 15px 40px;
      border: 2px solid black;
      cursor: pointer;
    }
    input[type=submit]:hover {
      border:none;
    }
  }
